<!DOCTYPE html>
<html>
<head>
	<%- include('../header') -%>
	<title>Client Credentials Flow</title>
	<script>
		// Access token passed from backend server
		let accessToken = "<%= accessToken %>";

		window.addEventListener('load', function () {
			// Below function found in header.ejs
			renderTokenData(accessToken);
		});
	</script>
</head>

	<body>
		<div class="container">
			<h2>Welcome to the Client Credentials Flow!</h2>
			<h4 class="data-title">Your access token is:</h4>
			<div class="card" id="id-token"></div>
			<h4 class="data-title">Decoded:</h4>
			<div class="card" id="id-token-decoded"></div>
		</div>
		<%- include('../footer') -%>
	</body>
</html>
